<div class="buttons">
    <img src="assets/88x31/desktop.gif" />

    <a href="https://justanoval.com">
        <img src="https://justanoval.com/justanoval.png"
             width="88"
             height="31"
             alt="justanoval.com" />
    </a>

    <a href="https://debian.org/">
        <img src="assets/88x31/debian.gif"
             title="i use debian btw"
             alt="Powered by Debian" />
    </a>

    <a href="https://ublockorigin.com/">
        <img src="assets/88x31/ublockorigin.png"
             alt="uBlock Origin" />
    </a>

    <a href="https://seized.fyi/">
        <img src="assets/88x31/seized.gif"
             alt="Seized banners" />
    </a>

    <img src="assets/88x31/fauux.gif" />

    <a href="https://makea.fish">
        <img src="assets/88x31/makeafish.png" />
    </a>

    <img src="assets/88x31/xbox.jpg" />

    <iframe src="//incr.easrng.net/badge?key=solazr.dev"
            width="88"
            height="31"
            frameborder="0"
            title="increment badge"></iframe>
</div>
