<fieldset>
    <legend>server-hosted stuff</legend>
    <ul>
        <!--<li><p>webfishing server: code: "S0LAZR" (S(ZERO)LAZR)</p></li>--> <!--never really used it and it never really worked in the steam vm template (and if anyone is reading this, everything in the server is on a vm which the templates were made by me -->
        <p>no [public] hostings rn :(</p>
    </ul>
</fieldset>

<br />

<fieldset>
    <legend>table of links</legend>
    <ul>
        <li>
            <!--<a href="https://api.solazr.dev">interact with my api</a> --><!--pretty sure theres no api stuff right now lol -->
            <a href="/junkyard/">look in the junkyard?</a>
        </li>
    </ul>
</fieldset>

<br />
