<fieldset>
    <legend>specs</legend>
    <ul>
        <li>
            <details>
                <summary>server</summary>
                <table>
                    <tr><td>model</td><td>Dell Inspiron 7737</td></tr>
                    <tr><td>cpu</td><td>Intel i7-4510U @ 2.00GHz</td></tr>
                    <tr><td>ram</td><td>8 GB DDR3L</td></tr>
                    <tr><td>disk</td><td>1 TB HDD (SATA)</td></tr>
                    <tr><td>fs</td><td>NTFS</td></tr>
                    <tr><td>os</td><td>Windows Server 2016 Datacenter</td></tr>
                </table>
            </details>
        </li>
    </ul>
</fieldset>

<br />
