:root {
	--base: #000000;
	--text: #ffffff;
	--crust: #1a1a1a;
	--surface0: #2b2b2b;
	--subtext0: #cccccc;
	--subtext1: #aaaaaa;
	--not-clicked: #d3d3d3;
	--rosewater: #e0e0e0;
	--blue: #d3d3d3;
	--clicked: #a9a9a9;
}

:root,
code {
	font-family: "Hack", "Hack Nerd Font", "JetBrains Mono", "JetBrainsMono Nerd Font", monospace, sans-serif;
}

:root {
	scrollbar-width: none;
	background-color: var(--base);
	color: var(--text);
	accent-color: var(--not-clicked);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--base);
	color: var(--text);
}

main {
	padding: 1em;
	background-color: var(--base);
	color: var(--text);
}

body > main > h1:first-child {
	margin-top: 0;
}

a {
	color: var(--not-clicked);
}

a:hover {
	color: var(--rosewater);
}

a:active {
	color: var(--blue);
}

a:visited {
	color: var(--clicked);
}

progress {
	width: 100%;
	border: 2px solid;
	border-color: var(--text);
	background-color: var(--base);
	color: var(--not-clicked);
	accent-color: var(--not-clicked);
}
::-moz-progress-bar,
::-webkit-progress-value {
	background-color: var(--not-clicked) !important;
}
::-webkit-progress-bar {
	background-color: var(--base);
	width: 100%;
}

fieldset {
	border-color: var(--text);
}

footer {
	text-align: end;
	font-size: small;
	opacity: 50%;
}

code {
	padding: 0.15em 0.3em;
	overflow-wrap: break-word;
	word-break: break-all;
	white-space: pre-wrap;
	background-color: var(--surface0);
	color: var(--subtext1);
}

pre > code {
	border: 2px solid var(--surface0);
	padding: 1.25em 1.5em;
	display: block;
	background-color: var(--base);
	color: var(--text);
}

legend {
	font-weight: 900;
}

.projects-list li details[open] {
	margin: 1em auto;
}

summary:hover,
summary:active,
details[open] > summary {
	font-weight: bold;
}

summary::after {
	content: " (click to expand)";
	opacity: 50%;
	font-size: smaller;
	font-weight: lighter;
}

details[open] > summary::after {
	content: " (click to collapse)";
}

div.buttons > a {
	font-size: 0;
}
div.buttons > a > img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	object-fit: contain;
	width: 88px;
	height: 31px;
}

table {
	word-break: break-word;
}

td:first-child {
	font-weight: bold;
	word-break: keep-all;
	vertical-align: top;
}

td:nth-child(2) {
	padding-left: 0.5em;
	word-break: break-all;
}

@media (min-width: 956px) {
	:root {
		--target-ratio: 0.7;
		--width: min(100% * var(--target-ratio), 1920px * var(--target-ratio));
		--padding: 4em;
		--padded-width: calc(var(--width) - var(--padding) * 2);
	}

	body {
		padding: 4em 0;
		min-height: calc(100vh - 8em);
		background: var(--crust);
		background: linear-gradient(
			90deg,
			var(--base) 0%,
			var(--crust) calc((100% - var(--width)) / 2),
			var(--crust) calc(50% + var(--width) / 2),
			var(--base) 100%
		);
	}

	body > * {
		margin: auto;
		padding: var(--padding);
		width: var(--padded-width);
	}

	body > footer {
		padding: initial;
		width: var(--width);
	}
}
